# Fichiers générés par LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

# Dossiers de compilation
_build/
_output/

# Fichiers temporaires
*.tmp
*.bak
*.dvi

# Fichiers PDF générés
*.pdf